<% form_for @labor_type do |f| -%>
  <table class="m">
    <tr>
      <td class="first">Name:</td><td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="first">Visible?</td><td><%= f.check_box :visible %></td>
    </tr>
  </table>
  <%= f.submit "Save", :class => 'hide' %>
<% end %>


<script>
  $(document).ready(function() {
    // make sidebar item appear selected
    $("#sidebar li a.labor_types_configuration").parent().addClass("selected");
    // add new device type button to footer
    $("#footer div.col2").append("<a href='#' class='save'>Save Labor Type</a>");
    $("#footer div.col2 a.save").bind("click", function(){
      $("#labor_type input[type=submit]").click();
    });
    $("select#labor_type_service_item_type").change(function(){
      if ($(this).val() == "time_based_rate"){
        $("tr#divisor").removeClass("hide");
      }else{
        $("tr#divisor").addClass("hide");
      };
    });
    // focus on name field
    $("input#labor_type_name").focus();
  });
</script>