<div id="labor_type">
  <h2 alt="new">New Labor Type</h2>

  <%= render :partial => 'form' %>
</div>

<script>
  $(document).ready(function() {
    // make sidebar item appear selected
    $("#sidebar li a.labor_types_configuration").parent().addClass("selected");
  });
</script>