/* sidebar */

/* tickets */
#tickets {}
#tickets table a {display:block;}
.first {text-align:center;}
h3.description {margin-top:0;}

/* Sidebar icons */

#sidebar .open {background:url("../images/icons/tag_red.png") no-repeat 0px 2px;}
#sidebar .scheduled {background:url("../images/icons/tag_blue.png") no-repeat 0px 2px;}
#sidebar .completed {background:url("../images/icons/tag_orange.png") no-repeat 0px 2px;}
#sidebar .all {background:url("../images/icons/tag_green.png") no-repeat 0px 2px;}
#sidebar .archived {background:url("../images/icons/tag_yellow.png") no-repeat 0px 2px;}

/* ticket */
#ticket {margin:0 1em;padding:0 0 0 0;}
#ticket div.details {position:absolute;right:1.5em;top:3em;min-width:270px;}
#ticket div.details > div {position:absolute;top:-28px;right:0px;margin:0;padding:0;color:#eee;font-size:9em;font-weight:bold;z-index:10;}
#ticket div.details > table {z-index:20;}
#ticket div.details select {padding:0;margin:0;}
#ticket div.description {min-height:6em;font-size:1.3em;margin:15px 280px 0 5px;font-family:Helvetica;color:#666;font-weight:bold;}
div#ticket_entries {margin:1em 0;border-top:1px solid #ccc;}
div.ticket_entry {position:relative;border-bottom:1px solid #ccc;min-height:100px;}
div.ticket_entry img {position:absolute;top:10px;left:0px;}
div.ticket_entry > table.details {position:absolute;top:5px;right:0px;width:200px;font-size:0.8em;}
div.ticket_entry > table.details td {margin:0;padding:1px 3px;}
div.ticket_entry > table.details tr td:first-child {text-align:right;}
div.ticket_entry > table.details tr td.bold {font-weight:bold;}
div.ticket_entry > table.details td.date {font-style:italic;text-align:right;width:105px;font-weight:normal;}
div.ticket_entry_note {float:left;margin:0 250px 0 60px;}
div.delete_button {position:absolute;bottom:30px;right:20px;}
div.edit_button {position:absolute;bottom:30px;right:40px;}
div.key {
  width:16px;
  height:16px;
  background-image:url('/images/icons/key.png');
}

div.ticket_entry_note_text_area {padding-right:10px;}
div.ticket_entry_note_text_area textarea {height:75px;width:100%;}
td.new_ticket_entry_note {width:70%;}
td.new_ticket_entry_note textarea {width:100%;height:6em;}

div.ticket_item {position:relative;border-bottom:1px solid #ccc;}
div.ticket_item > div.delete_button {position:absolute;bottom:5px;right:2px;}
input.ticket_item_quantity {width:2em;}

#item_search {width:400px;}


/* new ticket form */
table.m tr td.first {width:8em;}
input#ticket_active_on {width:8em;}

/* devices details pop up */

/* Search box */
div#user_select {position:absolute;top:2px;right:1em;}

/* inventory */
ul#items_list {list-style:none;margin:0;padding:0;}
ul#items_list li {position:relative;;border-bottom:3px solid #eee;margin-bottom:10px;}
ul#items_list span.item_name {display:block;height:2.2em;width:360px;overflow:hidden;font-weight:bold;white-space:nowrap;}
ul#items_list span.item_fields {position:absolute;right:0;top:-5px;}