<ul>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/devices">Devices</a></li>
  <li><a href="/inventory">Inventory</a></li>
  <li><a href="/settings">Settings</a></li>
  <li><a href="/reports">Reports</a></li>
</ul>
