<ul>
  <li><a href="/clients"><img src="/images/icons/group.png" />Clients</a></li>
  <li><a href="/tickets"><img src="/images/icons/tag_green.png" />Tickets</a></li>
  <li><a href="/devices"><img src="/images/icons/computer.png" />Devices</a></li>
  <li><a href="/inventory"><img src="/images/icons/database.png" />Inventory</a></li>
  <li><a href="/settings"><img src="/images/icons/page_white_wrench.png" />Settings</a></li>
  <li><a href="/reports"><img src="/images/icons/chart_bar.png" />Reports</a></li>
  <li><a href="/calendar"><img src="/images/icons/calendar.png" />Calendar</a></li>
</ul>
