<div id="home" selected="true">
    <div class="toolbar">
        <h1>Suite</h1>
    </div>
    <ul class="rounded">
        <li class="forward"><a href="#client_search">Departments</a></li>
        <li class="forward"><a href="/iphone/tickets">Tickets</a></li>
        <li class="forward"><a href="#device_search">Equipment</a></li>
    </ul>
</div>

<% form_tag "/iphone/clients", :method => "get", :class => "form", :title => "Client Search", :id => "client_search" do %>
  <div class="toolbar">
    <h1>Client Search</h1>
    <a class="back" href="#home">Home</a>
  </div>
  <ul class="rounded">
    <li>
      <input type="text" name="q" value="" placeholder="Name" />
    </li>
  </ul>  
  <a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="submit whiteButton">Search</a>
  <ul class="individual">
    <li><a href="/iphone/clients/new">New Department</a></li>
  </ul>
<% end %>

<% form_tag "/iphone/devices", :method => "get", :class => "form", :title => "Equipment Search", :id => "device_search" do %>
  <div class="toolbar">
    <h1>Equipment Search</h1>
    <a class="back" href="#home">Home</a>
  </div>
  <ul>
    <li>
      <input type="text" name="q" value="" placeholder="Query" />
    </li>
  </ul>  
  <a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="submit whiteButton">Submit</a>
<% end %>