<div id="inventory">
  <table class="itu">
    <thead>
      <tr><th class="first">Barcode</th><th></th><th>Name</th><th>Description</th><th>Cost</th><th>Retail</th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="item"></div>