<div id="content_search">
  <div id="applesearch"><form action="/inventory/"><span class="sbox_l"></span><span class="sbox"><input type="search" id="srch_fld" name="q" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="" /></span><span class="sbox_r" id="srch_clear"></span></form></div>
</div>
<div id="inventory">
  <table class="itu">
    <thead>
      <tr><th class="first">Barcode</th><th>Name</th><th>Description</th><th>Cost</th><th>Retail</th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="item"></div>

<script>
  $(function(){
    // select sidebar
    $("#sidebar ul li a.search").parent("li").addClass("selected");
    // setup search
    $('#content_search input[type="search"]').focus();
    $('#content_search form').ajaxForm({
      success: function(data, response){
        $('#inventory table tbody').empty();
        $('#inventory table tbody').append(data);
        buildTables();
        draggable_items();
        $("div#inventory > table tr td:nth-child(2)").css({width:"26px"});
        $("div#inventory > table tr td:nth-child(3)").css({width:"45%"});
      }
    });
    // edit item dialog
    $('#item').dialog({
      autoOpen: false,
      resizable: false,
      modal: true,
      width: 600,
      height: 240,
      title: "Edit Item" 
    });
    // 
    $('div#center tbody tr a').live('click', function(){
      $('#item').empty();
      $('#item').load('/inventory/'+$(this).parent().parent().attr('data-item-id'));
      $('#item').dialog('open');
    });
  });
</script>